
  .square {
    width: 100px;
    height: 300px;
   
   background-color: rgb(161, 159, 166);
  }

  .align-center{
    align-items: center;
  }

  .justify-center{
    justify-content: center;
  }

  .d-flex{
    width: 100%;
    display: flex;
   height: 700px;
  }